HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.env
### VS Code ###
*.png
*.jpg
*.mp4
*.md
.vscode/
/src/main/resources/application.yaml
/mvnw
/mvnw.cmd
/.mvn/wrapper/maven-wrapper.properties
.agents/
document/
spec/

